h1 {
  color: red;
  border-bottom: 5px solid red;
  font-size: 500px;
  display: flex; flex-direction: row;
  justify-content: center;
  animation-duration: 2s;
  animation-name: aparecer;
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100%: 1;
}


@include media-breakpoint-up(sm) { ... }
@include media-breakpoint-up(md) { ... }
@include media-breakpoint-up(lg) { ... }
@include media-breakpoint-up(xl) { ... }

.custom-class {
  display: none;
}
@include media-breakpoint-up(sm) {
  .custom-class {
    display: block;
  }
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 30px;
  animation-duration: 2s;
  animation-name: aparecer;
}

ul li a{
  font-size: 17px;
}
h2 {
  font-size: 35px;
  animation-duration: 2s;
  animation-name: aparecer;
}

#Menu {
  border-color: blue;
  border:5px solid blue;
  display: flex; flex-direction: row;
  justify-content: flex-end;
  width: 20%;
  margin-bottom: 45px;
  padding-right: 50px;
  margin-top: 45px;
}

nav ol ul{
  font-style: normal;
}

#Introducción{
  border-bottom: 3px solid #DEB887;
  margin-top: 40px;
  width: 15%;
}

 p{
   color: white;
   font-family: 'Roboto Slab', serif;
   font-size: 50px
}

table{
  border-color: yellow;
  display: flex; flex-direction: row;
  justify-content: space-around;
}

table td{
  font-style: oblique;
  padding: 10px
}

ol li{
  color: #7e8003;
  font-style: italic;
  font-size: 20px;
}

#Deseos{
  border-bottom: 3px solid #800000;
  margin-top: 40px;
  width: 8%;
}

footer fieldset{
  border-color: purple;
  background-image: linear-gradient(to left, blue, purple);
  padding: 70px;
  margin: 40px;
  border: 800px;
}

#Subcripción{
  border: 2px groove red;
  width: 25%;
  padding: 40px;
  margin-top: 40px;
  padding-right: 200px;
}

#Objetivos{
  border-bottom: 3px solid #f9fc14;
  width: 22%;
}
ul li{
  font-style: italic;
  font-size: 20px;
}

form{
  font-family: monospace;
  font-size: 15px
}

form input{
  font-family: monospace;
}

fieldset strong {
  font-size: 20px;
  display: flex; flex-direction: row;
  justify-content: center;
}

.Hijo{
  border-bottom: 2px solid brown;
  width: 12%;
}

.Imag{
  transition: all 6s;
}

.Imag:hover{
  display: flex; flex-direction: row;
  justify-content: flex-end;
  background-color: #0ee6be;
}

body {
  background-image: linear-gradient(to left, #4cc27b, #95a8ba);
}

#grid{
  display: grid;
  grid-template-areas:
    "nav header header"
    "nav productos publicidad"
    "nav servicios publicidad"
    "nav footer footer";
  grid-template-rows: 100px 1fr 1fr 75px;
  grid-template-columns: 20% auto 20%;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  height: 100vh;
  margin: 20px;
}

.border {
  border: 5px dashed grey;
}
header {
  grid-area: header;
  transition: background-color 2s;
}

header:hover{
  background-color: #778899;
}
footer {
  grid-area: footer;
  transition: background-color 2s;
}
footer:hover{
  background-color: #FFB6C1;
}
section#productos{
  grid-area: productos;
  transition: background-color 2s;
}
section#servicios{
  grid-area: servicios;
  transition: background-color 2s;
}

section:hover{
  background-color: #20B2AA;
}
nav{
  grid-area: nav;
  transition: background-color 2s;
}

nav:hover{
  background-color: red;
}
aside{
  grid-area: publicidad;
  transition: background-color 2s;
}

aside:hover{
  background-color: #00FF00;
}

input{
  transition: all 2s;
}

input:focus{
  width: 200px;
  font-size:24px;
}

.noticia--destacada{
  background: dimgray;
}

.noticia__titulo--uppercase{
  text-transform: uppercase;
}

.objetivo__titulo{
  background: dimgray;
}

.lead--uppercase{
  text-transform: uppercase;
}
